<?xml version="1.0"?>
<configuration>
  <connectionStrings>
    <add name="storedb_development" connectionString="server=localhost;database=storedb_devel;User Id=root;Password=admin;" />
  </connectionStrings>
    <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>
