<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="storedb_development" connectionString="server=localhost;database=storedb_devel;User Id=root;Password=admin;" />
    <add name="HarryPotter.Database.Tests.Properties.Settings.storedb_develConnectionString"
      connectionString="server=localhost;User Id=root;password=admin;database=storedb_devel"
      providerName="MySql.Data.MySqlClient" />
    <add name="HarryPotter.Data.Tests.Properties.Settings.storedb_develConnectionString"
      connectionString="server=localhost;User Id=root;database=storedb_devel;password=admin"
      providerName="MySql.Data.MySqlClient" />
  </connectionStrings>
</configuration>